.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: scroll;
  z-index: 1000;
  background-color: black;
  transition: width 1.5s ease !important;
  overflow: hidden;
}
.sidebar.collapsed {
  width: 40px;
}
@media (min-width: 768px) {
  .sidebar {
    /* top: 10px;
    bottom: 10px; */
    transition: width 500ms;
    border-right: 0.5px solid white;
    padding: 1rem;
    gap: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    width: 600px;
  }
}

.sidebar-left {
  left: 0;
}
@media (min-width: 768px) {
  .sidebar-left {
    left: 0;
  }
}

.sidebar-right {
  right: 0;
}
@media (min-width: 768px) {
  .sidebar-right {
    right: 10px;
  }
}

.sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  width: 60px;
  background-color: black;
}

/* .sidebar-noheader {
  padding-right: 16px;
} */

.sidebar-tabs,
.sidebar-tabs > ul {
  position: absolute;
  width: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidebar-tabs > li,
.sidebar-tabs > ul > li {
  width: 100%;
  height: 40px;
  color: black;
  font-size: 12pt;
  overflow: hidden;
  transition: all 80ms;
}
.sidebar-tabs > li:hover,
.sidebar-tabs > ul > li:hover {
  color: black;
  background-color: black;
}
.sidebar-tabs > li.active,
.sidebar-tabs > ul > li.active {
  color: black;
  background-color: black;
}
.sidebar-tabs > li.disabled,
.sidebar-tabs > ul > li.disabled {
  color: rgba(51, 51, 51, 0.4);
}
.sidebar-tabs > li.disabled:hover,
.sidebar-tabs > ul > li.disabled:hover {
  background: transparent;
}
.sidebar-tabs > li.disabled > a,
.sidebar-tabs > ul > li.disabled > a {
  cursor: default;
}
.sidebar-tabs > li > a,
.sidebar-tabs > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.sidebar-tabs > ul + ul {
  bottom: 0;
}

.sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-left .sidebar-content {
  left: 40px;
  right: 0px;
}
.sidebar-right .sidebar-content {
  left: 0;
  right: 40px;
}
.sidebar.collapsed > .sidebar-content {
  overflow-y: hidden;
}

.sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 0px;
}
.sidebar-pane.active {
  display: block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-pane {
    min-width: 265px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-pane {
    min-width: 350px;
  }
}
@media (min-width: 1200px) {
  .sidebar-pane {
    min-width: 420px;
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  position: relative;
}
.triangle-left {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 8px solid #f0ede7;
  cursor: pointer;
  margin-left: auto;
}

.sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.sidebar-left .sidebar-close {
  right: 0;
}
.sidebar-right .sidebar-close {
  left: 0;
}

.sidebar-left ~ .sidebar-map {
  margin-left: 40px;
}
@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map {
    margin-left: 0;
  }
}

.sidebar-right ~ .sidebar-map {
  margin-right: 40px;
}
@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map {
    margin-right: 0;
  }
}

.sidebar {
  box-shadow: 0;
}

.sidebar.leaflet-touch {
  box-shadow: none;
  border-right: 2px solid black;
}
@media (min-width: 768px) {
  .sidebar {
    border-radius: 4px;
  }
  .sidebar.leaflet-touch {
    border: 2px solid black;
  }
}

@media (min-width: 768px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    transition: left 500ms;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 315px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 400px;
  }
}

@media (min-width: 1200px) {
  .sidebar-left ~ .sidebar-map .leaflet-left {
    left: 470px;
  }
}

@media (min-width: 768px) {
  .sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
    left: 50px;
  }
}

@media (min-width: 768px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    transition: right 500ms;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 315px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 400px;
  }
}

@media (min-width: 1200px) {
  .sidebar-right ~ .sidebar-map .leaflet-right {
    right: 470px;
  }
}

@media (min-width: 768px) {
  .sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
    right: 50px;
  }
}

/* Menu_styling  */
#level_1_menu_group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.level_1_menu {
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  color: #fdf9ed;
  font-size: 18px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: left;
  padding-left: 140px;
  display: block;
}

#year-display {
  color: #fdf9ed;
  position: relative;
  display: block;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  padding-bottom: 5px;
  transform: translateY(5px);
}

.line {
  padding: 0;
  text-align: center;
  background-color: #fdf9ed;
  opacity: 1;
}

/* Content_container_styling  */

#spilhaus_sidebar {
  display: block;
}
#explore_container {
  display: block;
  margin-top: 15px;
}
#about_map_text {
  width: 550px;
  color: #f0ede7;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.2px;
  font-size: 15px;
  padding-top: 6px;
  padding-right: 30px;
}

/* WGS Sidebar Part */

#wgs_sidebar {
  display: none;
}
.data_container {
  height: 80px;
}
#time-control {
  position: relative;
  background: transparent;
  padding: 0;
  color: white;
  width: 90%;
  margin-bottom: 0px;
}

#timeSlider {
  -webkit-appearance: none; /* 去掉默认样式 */
  appearance: none;
  width: 100%;
  height: 1px; /* ★★★ 调整粗细：越小越细 */
  background: white; /* 轨道颜色 */
  border-radius: 0.5px;
  outline: none;
  cursor: pointer;
}

#filter-card {
  display: block;
  gap: 10px;
  font-size: 14px;
  width: 100%;
  margin-top: 15px;
}

.filter-select {
  width: 90px;
  height: 30px;
  padding: 3px 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none !important;
  border: none;
  font-size: 13px;
  color: #ffffff;
  background: rgba(70, 69, 69, 0.92);
  cursor: pointer;
}

.filter-select:hover {
  background: rgba(255, 255, 255, 1);
  color: #000;
}

.filter-select:focus {
  outline: none;
  box-shadow: 0 0 4px #dacc7b;
}

.inactive {
  opacity: 0.4;
  pointer-events: none;
}

/* Clean Filters Buttons */
.btn-clean,
.btn-ocean {
  width: 90px;
  height: 30px;
  padding: 3px 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 3px;
  padding-right: 3px;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.btn-clean {
  background: rgb(204, 227, 243);
  color: #000;
}
.btn-clean:hover {
  background: #4f9cfb;
}

#choose_style {
  position: relative;
  top: 10px;
  right: 10px;
  padding: 8px;
  /* width: 250px; */
  font-size: 12px;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2); */
}

#level_2_menu_group {
  margin-top: 20px;
}
.level_2_menu {
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  color: white;
  margin-left: 18%;
}

.level_2_menu:link {
  color: white;
}

.level_2_menu:visited {
  color: white;
}

.level_2_menu:hover {
  color: #fdf9ed;

  text-decoration: none;
}

.level_2_menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.level_2_menu:hover:after {
  width: 100%;
  text-decoration: none;
}

.level_2_menu:activate:after {
  width: 100%;
}

#data_query_window {
  color: white;
  margin-top: 20px;
}

#area_info {
  color: white;
  margin-top: 20px;
}

.country-image {
  width: 300px;
  height: auto;
  display: block;
  margin: 12px 0;
  border-radius: 6px;
}

/* back button  */

#backtospilhaus {
  display: block;
  margin-top: 20px;
  text-align: right;
  padding-right: 10px;
  cursor: pointer;
}

#back {
  margin-right: 8px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#back:hover {
  color: #90d5ff;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid white;
  cursor: pointer;
  margin-top: 22px;
}

/* palace info picture  */
.dots {
  display: flex;
  gap: 8px;
  padding-left: 42%;
  padding-top: 8px;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  border: 0;
  background: #333;
  cursor: pointer;
}
.dot.active {
  background: #bbb;
}

.carousel {
  position: relative;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
  color: rgb(10, 10, 10);
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.carousel-arrow.left {
  left: 5px;
}

.carousel-arrow.right {
  right: 60px;
}

.carousel-arrow:hover {
  background: rgba(255, 255, 255, 0.7);
}
