* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
  background-color: black;
}

.map-container {
  background-color: #000 !important;
  overflow: hidden; /* 防止出现底部滚动条 */
  width: 100%;
  height: 100vh;
  position: relative;
}

#cursor-pointer {
  font-family: "Basis Grotesque Mono Pro", "Space Grotesk", "Inter", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}

#mapSpilhaus {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  pointer-events: auto;
  display: block;
  background: #000 !important;
  transition: left 1.5s ease, right 0.3s ease;
}

.map-shifted-to-left {
  background: #000 !important;
  left: -300px !important;
  right: 300px !important;
}

#mapWgs {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none;
  display: none;
}

.ui-autocomplete {
  background-color: white !important;
  border: 1px solid #ccc !important;
  color: black !important;
  z-index: 10000 !important;
  opacity: 1 !important;
}

#customSearchDropdown {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: white;
  width: 250px;
  font-size: 14px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.leaflet-interactive {
  pointer-events: auto;
}
.leaflet-tile-pane {
  z-index: 200;
}
.leaflet-overlay-pane {
  z-index: 400;
}

.palace-marker {
  cursor: pointer; /* 鼠标在点上变成小手 */
}

.palace-spilhaus-point {
  cursor: default !important; /* 阻止手指图标 */
  pointer-events: none;
}

.fade-point {
  animation: fadeInOut 7s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.05; /* 中间阶段几乎消失 */
  }
  100% {
    opacity: 0.8;
  }
}
